@model Frindoc.Web.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Request Password Reset";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    <h2>Please enter your emailaddress and click 'Request Password Reset'.</h2>
    <br/>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Forgot password</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </li>
            </ol>
            <input type="submit" value="Request Password Reset" />
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


