@model Frindoc.Web.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Self Evaluation Tool";
}

<input type="hidden" id="isSubAccount" value="@Model.IsSubAccount.ToString().ToLower()" />

<script type="text/html" id="category-template">
    <li>
        <!-- ko 'if': isMoveDownAvailable($parent) -->
        <span data-bind="click: function (data, event) { moveDown($parent, data, event) }"><img src="/Content/arrowdown.png" alt="Move down" /></span>
        <!-- /ko -->
        <!-- ko 'if': isMoveUpAvailable($parent) -->
        <span data-bind="click: function (data, event) { moveUp($parent, data, event) }"><img src="/Content/arrowup.png" alt="Move up" /></span>
        <!-- /ko -->
        <span class="category-title" data-bind="clickToEdit: title"></span>
        <span class="category-error error" data-bind="html: errorMessage"></span>
        @* Only show the weight if the category had questions *@
        <!-- ko 'if': typeof questions() !== 'undefined' && questions().length > 0 -->
        <input type="text" data-bind="value: weight" class="weightscore" />
        <!-- /ko -->
        <span data-bind="click:$parent.deleteCategory" class="pointer delete">X</span>
        <!-- ko 'if': typeof questions() !== 'undefined' && questions().length > 0 -->
        <ul><!-- ko 'template': { 'name': 'questions-template', foreach: questions } --><!--/ko --></ul>
        <!-- /ko -->
        <!-- ko 'if': typeof categories() !== 'undefined' && categories().length > 0 -->
        <ul><!-- ko 'template': { 'name': 'category-template', foreach: sortedCategories } --><!--/ko --></ul>
        <!-- /ko -->
    </li>
    <form data-bind="submit: addQuestion">
        <input class="addQuestion" type="text" placeholder="Type here to add a new question" data-bind="value: newQuestionText, blurOnEnter: true, event: { blur: addQuestion }" />
    </form>
    <form data-bind="submit: addCategory">
        <input class="addCategory" type="text" placeholder="Type here to add a new category" data-bind="value: newCategoryText, blurOnEnter: true, event: { blur: addCategory }" />
    </form>
</script>

<script type="text/html" id="questions-template">
    <li>
        <span data-bind="clickToEdit: text"></span>
        <select data-bind="options: availableQuestionTypes, value: type"></select>
        <span data-bind="click: $parent.deleteQuestion" class="pointer delete">X</span><br />
        <textarea data-bind="inlineCkeditor: $data.extrainfo1"></textarea>
    </li>
</script>

<script type="text/html" id="surveymenu-template" role="navigation">
    <div data-bind="with: $root.benchmark">
        <nav class="navbar navbar-default" data-bind="visible: isValid">
            <ul class="nav navbar-nav" id="navigation">
                @*<li id="link-1"><a href="#manage" data-bind="click: function (data, event) { switchPanel(1, '#panelManageSurvey'); }">Manage</a></li>*@
                <li id="link-1" class="active"><a href="#description" data-bind="click: function (data, event) { switchPanel(1, '#panelIntroduction'); }">Introduction</a></li>
                <li id="link-2"><a href="#benchmark" data-bind="click: function (data, event) { switchPanel(2, '#panelChooseBenchmark'); }">General Information</a></li>
                <li id="link-3"><a href="#answers" data-bind="click: function (data, event) { switchPanel(3, '#panelAnswerSurvey'); }">Current Status and Goals</a></li>
                @*<li id="link-4"><a href="#goals" data-bind="click: function (data, event) { switchPanel(4, '#panelSetGoalsSurvey'); }">Goals</a></li>*@
                <li id="link-4"><a href="#results" data-bind="click: function (data, event) { switchPanel(4, '#panelResultSurvey'); }">Results</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" data-bind="visible: '@User.Identity.Name.ToLower()'=='eua'">
                @*<li><a href="@Url.Action("Excel", "Export")">Export to Excel</a></li>*@
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="/Content/FRINDOC%20Questions.pdf" target="_blank" style="text-decoration: none" data-bind=""><i class="fa fa-download"></i> PDF</a></li>
                <li><a href="/Content/FRINDOC%20Questions.doc" target="_blank" style="text-decoration: none" data-bind=""><i class="fa fa-download"></i> Word</a></li>
            </ul>
        </nav>
    </div>

    <div data-bind="with: $root.benchmark">
        <nav class="navbar navbar-default" data-bind="visible: (!isValid())">
            <ul class="nav navbar-nav" id="navigation">
                <li id="link-1" class="active"><a href="#description" data-bind="click: function (data, event) { switchPanel(1, '#panelIntroduction'); }">Introduction</a></li>
                <li id="link-2"><a href="#benchmark" data-bind="click: function (data, event) { switchPanel(2, '#panelChooseBenchmark'); }">General Information</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="/Content/FRINDOC%20Questions.pdf" target="_blank" style="text-decoration: none" data-bind=""><i class="fa fa-download"></i> PDF</a></li>
                <li><a href="/Content/FRINDOC%20Questions.doc" target="_blank" style="text-decoration: none" data-bind=""><i class="fa fa-download"></i> Word</a></li>
            </ul>
        </nav>
    </div>
</script>

<script id="categorymenu-template" type="text/html" role="navigation">
    <div class="category-menu">
        <ul class="nav nav-pills nav-justified" data-bind="visible: activeAnsweringSurvey() != null, with: activeAnsweringSurvey() ">
            <!-- ko foreach: categories -->
            <li data-bind="css: { 'active': isActive }">
                <a href="#" data-bind="html: title, click:$root.navigateParentCategory"></a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <br />
</script>

<script id="currentcategory-template" type="text/html">
    <div class="activecategory text-center" data-bind="with: activeCategory">
        <h2 data-bind="html: title"></h2>
    </div>
</script>

<script id="subcategorymenu-template" type="text/html">
    <div class="subcategory-menu">
        <!-- ko if: $root.isPreviousCategoryAvailable -->
        <!-- ko with: $root.previousCategory -->
        <div class="pull-left btn btn-warning" data-bind="click: $root.setPreviousCategoryActive">
            <i class="glyphicon glyphicon-chevron-left"></i>
            <span data-bind="html: title"></span>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: $root.isNextCategoryAvailable -->
        <!-- ko with: $root.nextCategory -->
        <div class="pull-right btn btn-warning" data-bind="click: $root.setNextCategoryActive">
            <span data-bind="html: title"></span>
            <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: !$root.isNextCategoryAvailable() -->
        <div class="pull-right btn btn-danger" data-bind="click: function (data, event) { switchPanel(4, '#panelResultSurvey'); }">
            <span data-bind="html: 'Show results'"></span>
            <i class="glyphicon glyphicon-stats"></i>
        </div>
        <!-- /ko -->
    </div>
    <div class="clearfix"></div>
</script>

<script type="text/html" id="answercategory-template">
    <li class="category-item">
        @*<span class="category-title" data-bind="text: title, toggleVisible: true"></span>*@
        <!-- ko 'if': typeof questions() !== 'undefined' && questions().length > 0 -->
        <ul data-bind="slideVisible: { value: isActive, direction: $root.categoryNavigateDirection }">
            <!-- ko foreach: questions -->
            <!-- ko 'template': { 'name': 'answerquestion-template' } --><!--/ko -->
            <!-- ko 'template': { 'name': 'setgoalsquestion-template' } --><!--/ko -->
            <!--/ko -->
        </ul>
        <!-- /ko -->
        <!-- ko 'if': typeof categories() !== 'undefined' && categories().length > 0 -->
        <ul>
            <!-- ko 'template': { 'name': 'answercategory-template', foreach: sortedCategories } --><!--/ko -->
        </ul>
        <!-- /ko -->
    </li>
</script>

<script type="text/html" id="answerquestion-template">
    <li class="answerquestion-item">
        <span class="answerquestion-question" data-bind="text: text">Question goes here</span>
        <div class="well well-sm">
            <!-- ko 'if': type() == "Numeric" -->
            <div data-bind="editStarRating: answer" class="numeric-answer goals-answer"></div>
            <!-- /ko -->
            <br />
            <div class="alert alert-info" data-bind="text: extrainfo1"></div>
            <!-- ko 'if': type() == "Text" -->
            <input type="text" data-bind="value: answer, bindElements: answer" class="text-answer answerquestion-answer" />
            <!-- /ko -->
            <!-- ko 'if': type() == "Yes/No" -->
            <input type="checkbox" data-bind="value: answer, bindElements: answer" class="yesno-answer answerquestion-answer" />
            <!-- /ko -->
            <span>Please explain the reasons and background for the rating.</span><br />
            @*<textarea class="answerquestion-answer" data-bind="inlineCkeditor: extraanswer1"></textarea><br />*@
            <textarea data-bind="inlineCkeditor: extraanswer1"></textarea>
        </div>
    </li>
</script>

<script type="text/html" id="setgoalscategory-template">
    <li class="category-item">
        <span class="category-title" data-bind="text: title, toggleVisible: true"></span>
        <!-- ko 'if': typeof questions() !== 'undefined' && questions().length > 0 -->
        <ul><!-- ko 'template': { 'name': 'setgoalsquestion-template', foreach: questions } --><!--/ko --></ul>
        <!-- /ko -->
        <!-- ko 'if': typeof categories() !== 'undefined' && categories().length > 0 -->
        <ul><!-- ko 'template': { 'name': 'setgoalscategory-template', foreach: sortedCategories } --><!--/ko --></ul>
        <!-- /ko -->
    </li>
</script>

<script type="text/html" id="setgoalsquestion-template">
    <li class="goals-item">
        <span class="goals-question" data-bind="text: goalstext">Question goes here</span>
        <div class="well well-sm">
            <!-- ko 'if': type() == "Numeric" -->
            <div data-bind="editStarRating: goal" class="numeric-answer goals-answer"></div>
            <!-- /ko -->
            @*<div class="alert alert-info" data-bind="text: extrainfo1"></div>*@
            <!-- ko 'if': type() == "Text" -->
            <input type="text" data-bind="value: goal, bindElements: answer" class="text-answer goals-answer" />
            <!-- /ko -->
            <!-- ko 'if': type() == "Yes/No" -->
            <input type="checkbox" data-bind="value: goal, bindElements: answer" class="yesno-answer goals-answer" />
            <!-- /ko -->
            <br />
            <span>Please define the goals you want to achieve.</span><br />
            <textarea class="goals-answer" data-bind="inlineCkeditor:extraanswer2, textAreaAutoScroll:true"></textarea><br />
            <span>What instruments will be employed to achieve these goals?</span>
            <textarea class="goals-answer" data-bind="inlineCkeditor:extraanswer3"></textarea><br />
        </div>
    </li>
</script>

<script type="text/html" id="displaycategory-template">
    <li class="category-item">
        <span class="category-title" data-bind="text: title, toggleVisible: true"></span>
        <!-- ko 'if': typeof questions() !== 'undefined' && questions().length > 0 -->
        <ul><!-- ko 'template': { 'name': 'displayanswerquestion-template', foreach: questions } --><!--/ko --></ul>
        <!-- /ko -->
        <!-- ko 'if': typeof categories() !== 'undefined' && categories().length > 0 -->
        <ul><!-- ko 'template': { 'name': 'displaycategory-template', foreach: sortedCategories } --><!--/ko --></ul>
        <!-- /ko -->
    </li>
</script>

<script type="text/html" id="displayanswerquestion-template">
    <!-- ko 'if': answer() != '' -->
    <li class="answerquestion-item">
        <span>Current Status</span>
        <ul>
            <li class="answerquestion-current-item">
                <p class="answerquestion-question" data-bind="text: text">Question goes here</p>
                <div data-bind="foreach: new Array(6)">
                    <!-- ko 'if': $parent.answer() >= $index() -->
                    <img src="@Url.Content("~/Content/star_1.png")" />
                    <!-- /ko -->
                    <!-- ko 'if': $parent.answer() < $index() -->
                    <img src="@Url.Content("~/Content/star_0.png")" />
                    <!-- /ko -->
                </div>
                <div data-bind="foreach: new Array(6)">
                    <!-- ko 'if': $parent.answer() >= $index() -->
                    <div class="pull-left" data-bind="text: $index()" style="width:26px;text-align:center;font-weight:bold;"></div>
                    <!-- /ko -->
                    <!-- ko 'if': $parent.answer() < $index() -->
                    <div class="pull-left" data-bind="text: $index()" style="width:26px;text-align:center;"></div>
                    <!-- /ko -->
                </div>
                <br />
                <p>Explanation and background for the rating.</p>
                <p class="results-answer results-questionanswer2" data-bind="html:extraanswer1"></p>
            </li>
        </ul>
        <span>Goal</span>
        <ul>
            <li class="answerquestion-goal-item">
                <p class="goals-question" data-bind="text: goalstext">Question goes here</p>
                <div data-bind="foreach: new Array(6)">
                    <!-- ko 'if': $parent.goal() >= $index() -->
                    <img src="@Url.Content("~/Content/star_1.png")" />
                    <!-- /ko -->
                    <!-- ko 'if': $parent.goal() < $index() -->
                    <img src="@Url.Content("~/Content/star_0.png")" />
                    <!-- /ko -->
                </div>
                <div data-bind="foreach: new Array(6)">
                    <!-- ko 'if': $parent.goal() >= $index() -->
                    <div class="pull-left" data-bind="text: $index()" style="width:26px;text-align:center;font-weight:bold;"></div>
                    <!-- /ko -->
                    <!-- ko 'if': $parent.goal() < $index() -->
                    <div class="pull-left" data-bind="text: $index()" style="width:26px;text-align:center;"></div>
                    <!-- /ko -->
                </div>
                <br />
                <p>Which goals can be defined?</p>
                <p class="results-answer results-goalsanswer2" data-bind="html:extraanswer2"></p>
                <p>Defined instruments to achieve these goals.</p>
                <p class="results-answer results-goalsanswer3" data-bind="html:extraanswer3"></p>
            </li>
        </ul>
    </li>
    <!-- /ko -->
</script>

<div id="panelIntroduction" class="panel">
    <!-- ko 'template': { 'name': 'surveymenu-template' } --><!--/ko -->

    <p>
        The FRINDOC project is managed by a consortium of six partners, coordinated by EUA, and consisting of the University of Hong Kong, Stellenbosch University, Imperial College London, the University of Bergen and the University of Camerino. It is supported by the European Commission’s Erasmus Mundus Action 3 programme.
    </p>

    <div class="text-center" data-bind="visible: true">
        <a class="btn btn-app btn-info" href="#" data-bind="click: startTool"><i class="glyphicon glyphicon-play-circle"></i> Start the tool</a>
        <br /><br />
    </div>
    <p>
        The Framework for the Internationalisation of Doctoral Education (FRINDOC) project aims at providing a comprehensive overview of good practices and valuable experiences for universities. The project will develop a framework containing a statement of good practice on internationalisation and an online tool for universities to aid planning and implementation of internationalisation strategies for doctoral education.
    </p>
    <p>
        This tool is currently in a developmental phase and if you use it we ask that you provide us with feedback regarding your experience. The tool should function as a comprehensive strategic tool for planning, promoting and supporting mobility in doctoral programmes enabling universities to attain a united picture of strategic goals, capacity and possibilities to implement the right structures for their particular profile.
    </p>
    <p>
        Please see this comprehensive guide for instructions and advice on how to use the tool: <a href="~/Content/FRINDOC%20User%20Guide.pdf" target="_blank">FRINDOC User Guide</a>
    </p>
@*
    <p>
        Once you have experimented with the tool, we kindly ask that you please answer the following questions:
    </p>
    <div class="well well-sm" data-bind="with: evaluation">
        <dl>
            <dd>What is the name of your institution?</dd>
            <dt><input type="text" data-bind="value: instituteName, disable: $root.isSubAccount" /></dt>
            <dd>Did you like the format of the tool? (1=not at all; 4=very much)</dd>
            <dt><div data-bind="editSuperStarRating: formatPresentationRating, disable: $root.isSubAccount"></div></dt>
            <dd>Did you like the way the results were presented? (1=not at all; 4=very much)</dd>
            <dt><div data-bind="editSuperStarRating: resultPresentationRating, disable: $root.isSubAccount"></div></dt>
            <dd>How useful was the tool? (1=not at all; 4=very much)</dd>
            <dt><div data-bind="editSuperStarRating: usefullnessRating, disable: $root.isSubAccount"></div></dt>
            <dd>Would you recommend using the tool to other institutions?</dd>
            <dt>
                <div class="radio">
                    <label><input type="radio" name="RecommendToOthers" value="yes" data-bind="checked: wouldRecommendToOthers">Yes, would recommend</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="RecommendToOthers" value="no" data-bind="checked: wouldRecommendToOthers">No, would not recommend</label>
                </div>
                <br />
            </dt>
            <dd>What improvements would you suggest making to the tool?</dd>
            <textarea data-bind="inlineCkeditor: improvementSuggestions"></textarea>
            <br />
            <dd>Any other comments?</dd>
            <textarea data-bind="inlineCkeditor: evaluationComments"></textarea>
        </dl>
        <a name="evaluate"></a>
    </div>*@

    <h1>Confidentiality</h1>
    <p>The information you provide is strictly confidential and will not be shared. The project partners may use aggregate data where individual institutions will not be identifiable.</p>

</div>

<div id="panelSurveys" class="panel jshidden">
    <img src="~/Images/throbber.gif" />
    @*<p>Choose your survey:</p>
        <ul data-bind="foreach: surveys, visible: surveys().length > 0">
            <li>
                <span data-bind="text: title, click: openSurveyForAnswering" class="survey-item pointer">titel</span>
            </li>
        </ul>*@
</div>

<div id="panelChooseBenchmark" class="panel jshidden" data-bind="with: benchmark">
    <!-- ko 'template': { 'name': 'surveymenu-template' } --><!--/ko -->

    <div class="alert alert-warning" data-bind="visible: (!isValid())">
        <i class="icon-warning-sign"></i>
        <span>You must complete the form below before you can continue.</span>
    </div>

    <fieldset>
        <legend>Please fill in the information below</legend>
        <dl>
            <dd>What is the name of your institution?</dd>
            <dt><input type="text" data-bind="value: instituteName, disable: $root.isSubAccount" /></dt>
            <dd>In which country is your institution situated?</dd>
            <dt><input type="text" data-bind="value: country, disable: $root.isSubAccount" /></dt>
            <dd>Name of the person responsible for coordinating the responses in your institution</dd>
            <dt><input type="text" data-bind="value: responsiblePersonName, disable: $root.isSubAccount" /></dt>
            <dd>Number (estimation if necessary) of doctoral candidates/PhD students</dd>
            <dt><input type="text" data-bind="value: nrOfDoctoralCandidates, disable: $root.isSubAccount" /></dt>
            <dd>Number (estimation if necessary) of undergraduate students</dd>
            <dt><input type="text" data-bind="value: nrOfUndergraduates, disable: $root.isSubAccount" /></dt>
        </dl>

        <p>Please define the context within which you are evaluating your institution by choosing one of the options below.</p>
        <select data-bind="value: choice, disable: $root.isSubAccount" style="width:100%">
            <option value="0">Other</option>
            <option value="1">We are rating our institution in comparison to a particular group of institutions (for example, partner institutions or those which operate in a similar context to ours).</option>
            <option value="2">We are rating our institution in our national context</option>
            <option value="3">We are rating our institution in our regional context (for example, Europe, South East Asia, Scandinavia etc.).</option>
            <option value="4">We are rating our institution in a global context</option>
        </select>

    </fieldset>

    <div data-bind="visible: (choice()=='1' || choice()=='3')">
        <br />
        <p>Please try to define the context more clearly:</p>
        <!-- ko if: !$root.isSubAccount() -->
        <textarea data-bind="inlineCkeditor: clarification"></textarea>
        <!-- /ko -->
        <!-- ko if: $root.isSubAccount -->
        <p style="border:1px solid #E2E2E2" data-bind="html: clarification, disable: $root.isSubAccount"></p>
        <!-- /ko -->
    </div>
    <br />

    <!-- ko 'if': choice()=='0' -->
    <p>Please define the context you are using:</p>
    <!-- ko if: !$root.isSubAccount() -->
    <textarea data-bind="inlineCkeditor: alternative"></textarea>
    <!-- /ko -->
    <!-- ko if: $root.isSubAccount -->
    <p style="border:1px solid #E2E2E2;min-height:100px;padding:5px;" data-bind="html: alternative, disable: $root.isSubAccount"></p>
    <!-- /ko -->
    <!-- /ko -->
    <br />

    <!-- ko if: !isSubAccount() -->
    <h2>Create accounts for units</h2>
    <table class="table">
        <colgroup>
            <col width="30%" />
            <col width="50%" />
            <col width="20%" />
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Emailaddress</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko with: newSubAccount -->
            <tr class="alert alert-info">
                <td colspan="3">
                    <div>Create a new subaccount:</div>
                    <div class="alert alert-danger" data-bind="visible: errorMessage() && errorMessage().length > 0, html: errorMessage"></div>
                    <!-- ko if: isCreatingSubAccount -->
                    <div class="alert alert-info"><img src="../../Images/ajax-loader.gif" alt="" />&nbsp;<span>Busy creating the account...</span></div>
                    <!-- /ko -->
                </td>
            </tr>
            <tr class="alert alert-info">
                <td><input type="text" placeholder="Name" data-bind="value: username" /></td>
                <td><input type="text" placeholder="Emailaddress" data-bind="value: emailaddress" /></td>
                <td><input type="button" value="Create" data-bind="click: createSubAccount, disable: isCreatingSubAccount" /></td>
            </tr>
            <!-- /ko -->
            <!-- ko if: subAccounts().length == 0 -->
            <tr><td colspan="3"><i class="glyphicon glyphicon-info-sign"></i> <i>No subaccounts have been setup yet.</i></td></tr>
            <!-- /ko -->
            <!-- ko foreach: subAccounts -->
            <tr>
                <td data-bind="text: username"></td>
                <td width="250px" data-bind="text: emailaddress"></td>
                <td><input type="button" class="btn btn-sm" value="Delete" data-bind="click: deleteSubAccount" /></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <!-- /ko -->
    <br />
    <div>
        <button class="button btn pull-right" data-bind="click: continueClick">Next <i class="fa fa-chevron-circle-right"></i></button>
    </div>
</div>

<div id="panelManageSurvey" class="panel jshidden" data-bind="visible: activeEditingSurvey() != null, with: activeEditingSurvey">
    <!-- ko 'template': { 'name': 'surveymenu-template' } --><!--/ko -->
    @*<h1>Manage: <span data-bind="text: title"></span></h1>*@
    <div class="treeview">
        <ul data-bind="template: { 'name': 'category-template', 'foreach': sortedCategories }"></ul>
    </div>
    <form data-bind="submit: addCategory">
        <input class="addCategory" type="text" placeholder="Type here to add a new category" data-bind="value: newCategoryText, blurOnEnter: true, event: { blur: addCategory }" />
    </form>
    <br />
    <div>
        <button class="btn pull-left" value="Previous" onclick="switchPanel(2, '#panelChooseBenchmark');"><i class="fa fa-chevron-circle-left"></i> Previous</button>
        <button class="btn pull-right" value="Next" onclick="switchPanel(3, '#panelAnswerSurvey');">Next <i class="fa fa-chevron-circle-right"></i></button>
    </div>
</div>

<div id="panelAnswerSurvey" class="panel jshidden" data-bind="visible: activeAnsweringSurvey() != null, with: activeAnsweringSurvey() ">
    <!-- ko 'template': { 'name': 'surveymenu-template' } --><!--/ko -->
    <!-- ko 'template': { 'name': 'categorymenu-template' } --><!--/ko -->
    <!-- ko 'template': { 'name': 'currentcategory-template' } --><!--/ko -->
    <!-- ko 'template': { 'name': 'subcategorymenu-template' } --><!--/ko -->
    @*<h1>Answer: <span data-bind="text: title"></span></h1>*@
    <div class="treeview">
        <ul data-bind="template: { 'name': 'answercategory-template', 'foreach': sortedCategories }"></ul>
    </div>
    <br />
    <!-- ko 'template': { 'name': 'subcategorymenu-template' } --><!--/ko -->
</div>

<div id="panelSetGoalsSurvey" class="panel jshidden" data-bind="visible: activeAnsweringSurvey() != null, with: activeAnsweringSurvey() ">
    <!-- ko 'template': { 'name': 'surveymenu-template' } --><!--/ko -->
    @*<h1>Define Goals: <span data-bind="text: title"></span></h1>*@
    <div class="treeview">
        <ul data-bind="template: { 'name': 'setgoalscategory-template', 'foreach': sortedCategories }"></ul>
    </div>
    <br />
    <div>
        <button class="btn pull-left" value="Previous" onclick="switchPanel(3, '#panelAnswerSurvey');"><i class="fa fa-chevron-circle-left"></i> Previous</button>
        <button class="btn pull-right" value="Next" onclick="switchPanel(5, '#panelResultSurvey');">Next <i class="fa fa-chevron-circle-right"></i></button>
    </div>
</div>

<div id="panelResultSurvey" class="panel jshidden results">
    <!-- ko 'template': { 'name': 'surveymenu-template' } --><!--/ko -->
    <div class="alert alert-info noprint">
        Please <a href="#" onclick="javascript: window.print();">click here to print</a> your results.<br />
        If you would like to export these results to PDF we advise you to install a pdf printer tool: <a href="http://www.dopdf.com" target="_blank">http://www.dopdf.com</a>.<br />
        After installation, <a href="#" onclick="javascript: window.print();">print this page</a> and select DoPDF as your printer.
    </div>

    <div id="highchart" style="margin: 0 auto" class="noprint"></div>
    <img id="highcharts-png" class="noscreen" />
    <canvas id="canvas" width="600" height="600" class="noscreen noprint"></canvas>

    <div data-bind="with: activeAnsweringSurvey()">
        <h2>Provided answers and explanations</h2>
        <div class="treeview">
            <ul data-bind="template: { 'name': 'displaycategory-template', 'foreach': sortedCategories }"></ul>
        </div>
    </div>
    <br />
    <div>
        <button class="btn pull-left" value="Previous" onclick="switchPanel(4, '#panelSetGoalsSurvey');"><i class="fa fa-chevron-circle-left"></i> Previous</button>
    </div>
</div>

<div id="loader" class="noprint">
    <img src="/images/ajax-loader.gif" alt="please wait..." /><br />
</div>

<div class="notification-top noprint">
    We value your opinion very much. Please share it with us! <a href="#evaluate" onclick="switchPanel(1, '#panelIntroduction');">Click here to evaluate the tool.</a>
</div>

@section scripts{
    <script src="~/Scripts/plugins/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/knockout.bindings.js"></script>
    <script src="~/Scripts/ko-inline-ckeditor.js"></script>
    @Scripts.Render("~/bundles/highchart")
    @Scripts.Render("~/bundles/evalapp")
    <script src="~/Scripts/canvg.js"></script>
    <script src="~/Scripts/rgbcolor.js"></script>

    <script type="text/javascript">
        //document.activeAjaxCalls = 0;
        //$(function () {
        //    if (document.activeAjaxCalls <= 0) {
        //        $("#loader").hide();
        //    }
        //});
        //
        //$(document).ajaxStart(function () {
        //    document.activeAjaxCalls++;
        //    $("#loader").show();
        //});
        //
        //$(document).ajaxStop(function () {
        //    document.activeAjaxCalls--;
        //    if (document.activeAjaxCalls <= 0) {
        //        document.activeAjaxCalls = 0;
        //        $("#loader").hide();
        //    }
        //});

        window.onbeforeunload = function () {
            if ($("input:focus").length > 0 ||
                $('textarea:focus').length > 0 ||
                $(document.activeElement).hasClass('cke_textarea_inline') || //ckeditor
                document.activeAjaxCalls > 0) {
                if (document.activeElement) $(document.activeElement).blur();
                return 'We are still saving some of your changes. If you leave now, these may be discarded.\r\nAre you sure you want to leave?';
            }
        };
    </script>

}
